<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions nécessaires -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="Ticketeer Agent"
        android:roundIcon="@android:drawable/ic_menu_compass"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketeerAgent"
        android:usesCleartextTraffic="true">

        <!-- LoginActivity — écran de démarrage -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ScanActivity — scanner QR Code -->
        <activity android:name=".activity.ScanActivity"
            android:exported="false"
            />

        <!-- ResultActivity — affichage résultat validation -->
        <activity android:name=".activity.ResultActivity"
            android:exported="false"/>

    </application>
</manifest>
